body {
    font-family: 'Montserrat';
}

.header {

    display: flex;
    justify-content: center
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header .item {
    font-weight: 700;
    color: #FF0000;
    text-transform: uppercase;
    padding: 26px 36px;
    font-size: 18px;
}

.header .item a {
    text-decoration: none;
    color: inherit;
}

.main p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.main {
    text-align: center;
    width: 1125px;
    margin: 0 auto;
    padding-bottom: 54px;
}

.hero {
    width: 100%;
}

footer {
    text-align: end;
    width: 1125px;
    margin: 0 auto;
    padding: 29px 105px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 16px;

}

.accent {
    background: #FF0000;
    border-radius: 4px;

    width: 191px;
    height: 51px;
    align-items: center;
}